@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,700&display=swap');
@font-face {
    font-family: 'cruell';
    src: url('../fonts/cruell-demo.regular.otf') format('truetype');
}


/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
button:focus {outline:none;}
a:focus {outline:none}
img {vertical-align: middle;}

/* layout */
body {font-family: 'Noto Sans KR', sans-serif; }
.wrap {width: 100%; margin: 0 auto; overflow: hidden; background: #080113; }

header {background: url(../img/gerardo-mr-pQrXggKVvzI-unsplash2.jpg)no-repeat left 0px top 0px/cover; height: 900px;}
header .innerHeader ul {width: 80%; display: flex; justify-content: space-between; color: #fff; margin: 0 auto; padding-top: 75px; font-size: 18px;}
header .innerHeader h1 {text-align: center; margin-top: 300px; color: #fff; font-size: 50px; font-family: 'Playfair Display', serif; font-weight: bold;}
header .innerHeader p {text-align: center; margin-top: 280px; color: #fff;}

.visual .top {margin: 0 auto; width: 1577px;}
.visual .pol1 {width: 22px; height: 31px; margin: 320px auto 60px;}
.visual .pol1 img {width: 100%;}
.visual .top .txt {color: #fff; font-family: 'cruell'; font-size: 48px; text-align: center;  line-height: 1.2; margin-bottom: 130px;}
.visual .top .img {width: 1330px; margin: 0 auto; position: relative;}
.visual .top .tit {position: absolute; top: 3000px; left: 0;}

.visual .middle h3 {color: #fff; font-size: 48px; margin-top: 800px; margin-bottom: 66px; margin-left: 100px;}
.visual .middle h3 .img img {width: 22px; height: 31px;}
.visual .middle p {color: #fff; font-size: 32px; margin : 100px auto; width: 1285px; text-align: center; line-height: 2;}

.visual .bottom h3 {color: #fff; font-size: 48px; margin-bottom: 60px; margin-left: 100px;}
.visual .bottom h3 .img {margin-right: 10px;}
.visual .bottom h3 .img img {width: 22px; height: 31px;  }
.visual .bottom ul {display: flex; justify-content: space-between; width: 1710px; margin: 0 auto; margin-bottom: 200px;}


footer {background: #000; width: 100%; height: 400px; padding: 100px;}
footer .wrap {width: 1600px; margin:0 auto; color: #fff;  font-size: 20px; background: #000;}
footer ul {display: flex; justify-content: space-between; margin-bottom: 95px;}
footer p {line-height: 30px; color:#9B9B9B}